[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/vim-scripts/tlib.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/less"]
	path = bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/fugative"]
	path = bundle/fugative
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/stylus"]
	path = bundle/stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "bundle/base16"]
	path = bundle/base16
	url = git://github.com/chriskempson/base16-vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git@github.com:sjl/gundo.vim.git
[submodule "bundle/jls"]
	path = bundle/jls
	url = git@github.com:othree/javascript-libraries-syntax.vim.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/sneak"]
	path = bundle/sneak
	url = git@github.com:justinmk/vim-sneak.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/bundle/supertab"]
	path = bundle/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/easygrep"]
	path = bundle/easygrep
	url = https://github.com/vim-scripts/EasyGrep.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/node"]
	path = bundle/node
	url = https://github.com/moll/vim-node.git
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "bundle/sass"]
	path = bundle/sass
	url = https://github.com/cakebaker/scss-syntax.vim.git
